In [1]:
import os as os
import pandas as pd
from pathlib import Path
import numpy as np

In [2]:
#path to disaster file
disaster_data = os.path.join('Resources','disaster_info.csv')
 
#disaster_data = Path("Resources\disaster_info.csv")

#read school file
disaster_df = pd.read_csv(disaster_data)
disaster_df.head(1)

,id,resourceType,title,description,startDate,endDate,lat,lon,documentType,author,...,Business(es) destroyed,Farm(s) damaged,Farm(s) destroyed,Crop(s) destroyed,Livestock destroyed,Government assistance,regions,subjects,url,resourceUrl
0,1,Disaster Event,Environmental - South-Eastern Australia Heatwa...,An extreme heatwave occurred in south-eastern ...,1/1/1939 0:00,1/16/1939 0:00,-33.131515,135.557892,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Victoria;New South Wales;South Australia,NaN,http://www.emknowledge.gov.au/resource/?id=1,NaN

In [3]:
# drop unnecessary columns from table
df = disaster_df[['title', 'description', 'startDate', 'endDate', 'lat', 'lon', 'Injuries', 'Deaths',  'regions']]
df.head(1)

,title,description,startDate,endDate,lat,lon,Injuries,Deaths,regions
0,Environmental - South-Eastern Australia Heatwa...,An extreme heatwave occurred in south-eastern ...,1/1/1939 0:00,1/16/1939 0:00,-33.131515,135.557892,NaN,400.0,Victoria;New South Wales;South Australia

In [4]:
# create seperate columns to split title data into category and subcategory sections
df['Category'], df['Sub-category'] = df['title'].str.split(' - ', n=1).str
df.head(10)

/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_35133/2113709360.py:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df['Category'], df['Sub-category'] = df['title'].str.split(' - ', n=1).str
/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_35133/2113709360.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Category'], df['Sub-category'] = df['title'].str.split(' - ', n=1).str
/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_35133/2113709360.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Category'], df['Sub-category'] = df['title'].str.split(' - ', n=1).str

,title,description,startDate,endDate,lat,lon,Injuries,Deaths,regions,Category,Sub-category
0,Environmental - South-Eastern Australia Heatwa...,An extreme heatwave occurred in south-eastern ...,1/1/1939 0:00,1/16/1939 0:00,-33.131515,135.557892,NaN,400.0,Victoria;New South Wales;South Australia,Environmental,South-Eastern Australia Heatwave 1939
1,Industrial - Leinster Mine Flood,"On 13 June 1989, exceptionally heavy rain caus...",6/13/1989 0:00,6/13/1989 0:00,-27.795349,120.728760,NaN,6.0,Western Australia,Industrial,Leinster Mine Flood
2,Industrial - Appin Mine Explosion,On 24 July 1979 an explosion occurred in the u...,7/24/1979 0:00,7/24/1979 0:00,-34.192211,150.786331,NaN,14.0,New South Wales,Industrial,Appin Mine Explosion
3,Transport - Granville Rail Disaster,"On 18 January 1977, a passenger train left Mou...",1/18/1977 0:00,1/18/1977 0:00,-33.831463,151.009964,210.0,83.0,New South Wales,Transport,Granville Rail Disaster
4,Bushfire - Sydney and Southern New South Wales,The summer of January 1939 was a period of ext...,1/13/1939 0:00,1/14/1939 0:00,-34.424984,150.893127,NaN,6.0,New South Wales,Bushfire,Sydney and Southern New South Wales
5,Urban Fire - Melbourne,"On the night of 8 April 1996, a fire broke out...",4/8/1996 0:00,4/8/1996 0:00,-37.812157,144.963654,NaN,9.0,Victoria,Urban Fire,Melbourne
6,Bushfire - Wandilo,On 5 April 1958 a pine plantation fire occurre...,4/5/1958 0:00,4/6/1958 0:00,-37.738461,140.773712,3.0,8.0,South Australia,Bushfire,Wandilo
7,Shipwreck - Haweis,"On 24 October 1829, the vessel Haweis left Syd...",24/10/1829 00:00:00,24/10/1829 00:00:00,-32.249969,155.610352,NaN,11.0,New South Wales,Shipwreck,Haweis
8,Transport - Trawalla Train and Truck Collision,"On 28 April 2006, a V/Line passenger train bou...",4/28/2006 0:00,4/28/2006 0:00,-37.436260,143.469421,18.0,2.0,Victoria,Transport,Trawalla Train and Truck Collision
9,Industrial - Gladstone Factory Explosion,"On 9 May 2006, an explosion occurred at a muni...",5/9/2006 0:00,5/9/2006 0:00,-33.262230,138.356323,2.0,3.0,South Australia,Industrial,Gladstone Factory Explosion

In [5]:
# eliminate the title column to clean up the table

dropped_df = df.drop(columns=['title'])
dropped_df.head(1)

,description,startDate,endDate,lat,lon,Injuries,Deaths,regions,Category,Sub-category
0,An extreme heatwave occurred in south-eastern ...,1/1/1939 0:00,1/16/1939 0:00,-33.131515,135.557892,NaN,400.0,Victoria;New South Wales;South Australia,Environmental,South-Eastern Australia Heatwave 1939

In [6]:
#Reorganise table
reorganised_df = dropped_df[['Category', 'Sub-category', 'description', 'startDate', 'endDate', 'lat', 'lon', 'Injuries', 'Deaths',  'regions']]
reorganised_df.head()

,Category,Sub-category,description,startDate,endDate,lat,lon,Injuries,Deaths,regions
0,Environmental,South-Eastern Australia Heatwave 1939,An extreme heatwave occurred in south-eastern ...,1/1/1939 0:00,1/16/1939 0:00,-33.131515,135.557892,NaN,400.0,Victoria;New South Wales;South Australia
1,Industrial,Leinster Mine Flood,"On 13 June 1989, exceptionally heavy rain caus...",6/13/1989 0:00,6/13/1989 0:00,-27.795349,120.728760,NaN,6.0,Western Australia
2,Industrial,Appin Mine Explosion,On 24 July 1979 an explosion occurred in the u...,7/24/1979 0:00,7/24/1979 0:00,-34.192211,150.786331,NaN,14.0,New South Wales
3,Transport,Granville Rail Disaster,"On 18 January 1977, a passenger train left Mou...",1/18/1977 0:00,1/18/1977 0:00,-33.831463,151.009964,210.0,83.0,New South Wales
4,Bushfire,Sydney and Southern New South Wales,The summer of January 1939 was a period of ext...,1/13/1939 0:00,1/14/1939 0:00,-34.424984,150.893127,NaN,6.0,New South Wales

In [7]:
# Separate data for each state
reorganised_df.loc[:, 'new_column'] = reorganised_df['regions'].str.split(';')
reorganised_df

/var/folders/zh/1g9r_87s0_b2prpx9v3501kr0000gn/T/ipykernel_35133/147456851.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reorganised_df.loc[:, 'new_column'] = reorganised_df['regions'].str.split(';')

,Category,Sub-category,description,startDate,endDate,lat,lon,Injuries,Deaths,regions,new_column
0,Environmental,South-Eastern Australia Heatwave 1939,An extreme heatwave occurred in south-eastern ...,1/1/1939 0:00,1/16/1939 0:00,-33.131515,135.557892,NaN,400.0,Victoria;New South Wales;South Australia,"[Victoria, New South Wales, South Australia]"
1,Industrial,Leinster Mine Flood,"On 13 June 1989, exceptionally heavy rain caus...",6/13/1989 0:00,6/13/1989 0:00,-27.795349,120.728760,NaN,6.0,Western Australia,[Western Australia]
2,Industrial,Appin Mine Explosion,On 24 July 1979 an explosion occurred in the u...,7/24/1979 0:00,7/24/1979 0:00,-34.192211,150.786331,NaN,14.0,New South Wales,[New South Wales]
3,Transport,Granville Rail Disaster,"On 18 January 1977, a passenger train left Mou...",1/18/1977 0:00,1/18/1977 0:00,-33.831463,151.009964,210.0,83.0,New South Wales,[New South Wales]
4,Bushfire,Sydney and Southern New South Wales,The summer of January 1939 was a period of ext...,1/13/1939 0:00,1/14/1939 0:00,-34.424984,150.893127,NaN,6.0,New South Wales,[New South Wales]
...,...,...,...,...,...,...,...,...,...,...,...
668,Environmental,"Heatwave, South-Eastern Australia, 2014","In the second week of January 2014, the extrem...",1/11/2014 0:00,1/21/2014 0:00,-33.284618,140.976562,0.0,NaN,Queensland;New South Wales;Victoria;South Aust...,"[Queensland, New South Wales, Victoria, South ..."
669,Flood,"Gascoyne River, Western Australia, 2010","From 16 to 18 December 2010, heavy rainfall in...",12/16/2010 0:00,12/20/2010 0:00,-24.839088,113.749695,NaN,NaN,Queensland,[Queensland]
670,Bushfire,"Victoria, 2014","In early February 2014, Victoria faced its wor...",2/9/2014 11:23,2/14/2014 11:23,-37.564716,144.893189,3.0,NaN,Victoria,[Victoria]
671,Complex Emergencies,"Hazelwood open cut mine fire, Morwell, Victori...",The Hazelwood open cut mine fire began on 9 Fe...,2/9/2014 0:00,3/19/2014 0:00,-38.232517,146.393509,0.0,NaN,Victoria,[Victoria]
672,Transport,"Aircraft crash, Caboolture, Queensland 2014","On 22 March 2014, a light aircraft owned by a ...",3/22/2014 0:00,3/22/2014 0:00,-27.037109,152.948914,NaN,5.0,Queensland,[Queensland]

In [8]:
# Explode the new_column column
exploded_results = reorganised_df.explode('new_column', ignore_index=True)
exploded_results

,Category,Sub-category,description,startDate,endDate,lat,lon,Injuries,Deaths,regions,new_column
0,Environmental,South-Eastern Australia Heatwave 1939,An extreme heatwave occurred in south-eastern ...,1/1/1939 0:00,1/16/1939 0:00,-33.131515,135.557892,NaN,400.0,Victoria;New South Wales;South Australia,Victoria
1,Environmental,South-Eastern Australia Heatwave 1939,An extreme heatwave occurred in south-eastern ...,1/1/1939 0:00,1/16/1939 0:00,-33.131515,135.557892,NaN,400.0,Victoria;New South Wales;South Australia,New South Wales
2,Environmental,South-Eastern Australia Heatwave 1939,An extreme heatwave occurred in south-eastern ...,1/1/1939 0:00,1/16/1939 0:00,-33.131515,135.557892,NaN,400.0,Victoria;New South Wales;South Australia,South Australia
3,Industrial,Leinster Mine Flood,"On 13 June 1989, exceptionally heavy rain caus...",6/13/1989 0:00,6/13/1989 0:00,-27.795349,120.728760,NaN,6.0,Western Australia,Western Australia
4,Industrial,Appin Mine Explosion,On 24 July 1979 an explosion occurred in the u...,7/24/1979 0:00,7/24/1979 0:00,-34.192211,150.786331,NaN,14.0,New South Wales,New South Wales
...,...,...,...,...,...,...,...,...,...,...,...
883,Environmental,"Heatwave, South-Eastern Australia, 2014","In the second week of January 2014, the extrem...",1/11/2014 0:00,1/21/2014 0:00,-33.284618,140.976562,0.0,NaN,Queensland;New South Wales;Victoria;South Aust...,Tasmania
884,Flood,"Gascoyne River, Western Australia, 2010","From 16 to 18 December 2010, heavy rainfall in...",12/16/2010 0:00,12/20/2010 0:00,-24.839088,113.749695,NaN,NaN,Queensland,Queensland
885,Bushfire,"Victoria, 2014","In early February 2014, Victoria faced its wor...",2/9/2014 11:23,2/14/2014 11:23,-37.564716,144.893189,3.0,NaN,Victoria,Victoria
886,Complex Emergencies,"Hazelwood open cut mine fire, Morwell, Victori...",The Hazelwood open cut mine fire began on 9 Fe...,2/9/2014 0:00,3/19/2014 0:00,-38.232517,146.393509,0.0,NaN,Victoria,Victoria
887,Transport,"Aircraft crash, Caboolture, Queensland 2014","On 22 March 2014, a light aircraft owned by a ...",3/22/2014 0:00,3/22/2014 0:00,-27.037109,152.948914,NaN,5.0,Queensland,Queensland

In [9]:
# Drop the regions column and rename new_column to Regions
exploded_results = exploded_results.drop('regions', axis = 1).rename(columns={"new_column" : "Regions",
                                                                              "startDate" : "Start Date",
                                                                              "endDate" : "End Date",
                                                                              "description" : "Description",
                                                                              "lat" : "Latitude",
                                                                              "lon" : "Logitude",
                                                                              "Injuries" : "Number of injuries",
                                                                              "Deaths" : "Number of deaths"})
exploded_results.head(20)

,Category,Sub-category,Description,Start Date,End Date,Latitude,Logitude,Number of injuries,Number of deaths,Regions
0,Environmental,South-Eastern Australia Heatwave 1939,An extreme heatwave occurred in south-eastern ...,1/1/1939 0:00,1/16/1939 0:00,-33.131515,135.557892,NaN,400.0,Victoria
1,Environmental,South-Eastern Australia Heatwave 1939,An extreme heatwave occurred in south-eastern ...,1/1/1939 0:00,1/16/1939 0:00,-33.131515,135.557892,NaN,400.0,New South Wales
2,Environmental,South-Eastern Australia Heatwave 1939,An extreme heatwave occurred in south-eastern ...,1/1/1939 0:00,1/16/1939 0:00,-33.131515,135.557892,NaN,400.0,South Australia
3,Industrial,Leinster Mine Flood,"On 13 June 1989, exceptionally heavy rain caus...",6/13/1989 0:00,6/13/1989 0:00,-27.795349,120.728760,NaN,6.0,Western Australia
4,Industrial,Appin Mine Explosion,On 24 July 1979 an explosion occurred in the u...,7/24/1979 0:00,7/24/1979 0:00,-34.192211,150.786331,NaN,14.0,New South Wales
5,Transport,Granville Rail Disaster,"On 18 January 1977, a passenger train left Mou...",1/18/1977 0:00,1/18/1977 0:00,-33.831463,151.009964,210.0,83.0,New South Wales
6,Bushfire,Sydney and Southern New South Wales,The summer of January 1939 was a period of ext...,1/13/1939 0:00,1/14/1939 0:00,-34.424984,150.893127,NaN,6.0,New South Wales
7,Urban Fire,Melbourne,"On the night of 8 April 1996, a fire broke out...",4/8/1996 0:00,4/8/1996 0:00,-37.812157,144.963654,NaN,9.0,Victoria
8,Bushfire,Wandilo,On 5 April 1958 a pine plantation fire occurre...,4/5/1958 0:00,4/6/1958 0:00,-37.738461,140.773712,3.0,8.0,South Australia
9,Shipwreck,Haweis,"On 24 October 1829, the vessel Haweis left Syd...",24/10/1829 00:00:00,24/10/1829 00:00:00,-32.249969,155.610352,NaN,11.0,New South Wales
10,Transport,Trawalla Train and Truck Collision,"On 28 April 2006, a V/Line passenger train bou...",4/28/2006 0:00,4/28/2006 0:00,-37.436260,143.469421,18.0,2.0,Victoria
11,Industrial,Gladstone Factory Explosion,"On 9 May 2006, an explosion occurred at a muni...",5/9/2006 0:00,5/9/2006 0:00,-33.262230,138.356323,2.0,3.0,South Australia
12,Transport,Plane Crash Indonesia,"On 7 March 2007, a Garuda Indonesia Airways 73...",3/7/2007 0:00,3/7/2007 0:00,-7.789532,110.421181,12.0,21.0,Outside Australia
13,Cyclone George,NaN,Tropical Cyclone George formed on 3 March 2007...,3/3/2007 0:00,3/8/2007 0:00,-20.311626,118.575256,20.0,3.0,Western Australia
14,Transport,Sydney Ferry Accident,"On 28 March, the ferries HarbourCat and Pam Bu...",3/28/2007 0:00,3/28/2007 0:00,-33.851562,151.208954,8.0,4.0,New South Wales
15,Hail,Hunter Valley,On 31 October 2006 at Hexham in the Hunter Val...,10/31/2006 0:00,10/31/2006 0:00,-32.828060,151.684708,NaN,NaN,New South Wales
16,Transport,Burnley Tunnel Fire,On 23 March 2007 an accident occurred in the B...,3/23/2007 0:00,3/23/2007 0:00,-37.826191,144.997040,2.0,3.0,Victoria
17,Transport,Kerang Train and Truck Collision,On 5 June 2007 the V/Line passenger train 8042...,6/5/2007 0:00,6/5/2007 0:00,-35.763054,143.938583,14.0,11.0,Victoria
18,Severe Storm,New South Wales East Coast Low,In June 2007 there were five east coast lows o...,6/8/2007 0:00,6/10/2007 0:00,-32.925995,151.778870,NaN,9.0,New South Wales
19,Flood,Gippsland June 2007,"In late June 2007, the Gippsland area received...",6/27/2007 0:00,7/2/2007 0:00,-38.227394,146.747131,NaN,1.0,Victoria

In [10]:
# Convert the column to datetime format

exploded_results['Start Date'] = pd.to_datetime(exploded_results['Start Date']).dt.date
exploded_results['End Date'] = pd.to_datetime(exploded_results['End Date']).dt.date
exploded_results.head()

,Category,Sub-category,Description,Start Date,End Date,Latitude,Logitude,Number of injuries,Number of deaths,Regions
0,Environmental,South-Eastern Australia Heatwave 1939,An extreme heatwave occurred in south-eastern ...,1939-01-01,1939-01-16,-33.131515,135.557892,NaN,400.0,Victoria
1,Environmental,South-Eastern Australia Heatwave 1939,An extreme heatwave occurred in south-eastern ...,1939-01-01,1939-01-16,-33.131515,135.557892,NaN,400.0,New South Wales
2,Environmental,South-Eastern Australia Heatwave 1939,An extreme heatwave occurred in south-eastern ...,1939-01-01,1939-01-16,-33.131515,135.557892,NaN,400.0,South Australia
3,Industrial,Leinster Mine Flood,"On 13 June 1989, exceptionally heavy rain caus...",1989-06-13,1989-06-13,-27.795349,120.728760,NaN,6.0,Western Australia
4,Industrial,Appin Mine Explosion,On 24 July 1979 an explosion occurred in the u...,1979-07-24,1979-07-24,-34.192211,150.786331,NaN,14.0,New South Wales

In [11]:
pd.set_option('display.max_colwidth', 500)
exploded_results.head()

,Category,Sub-category,Description,Start Date,End Date,Latitude,Logitude,Number of injuries,Number of deaths,Regions
0,Environmental,South-Eastern Australia Heatwave 1939,"An extreme heatwave occurred in south-eastern Australia, January 1939. It was long lasting with very high temperatures. On 9 January the temperature at Kyancutta (South Australia) reached 49.3 &deg;C, the highest temperature recorded in South Australia at that time. Many temperature records were made during this heatwave, some of which have held until the recent 2009 heatwave; Adelaide, 46.1 &deg;C, on 12 January, Melbourne, 45.6&deg;C on 13 January, Sydney, 45.3&deg;C on 14 January with Ma...",1939-01-01,1939-01-16,-33.131515,135.557892,NaN,400.0,Victoria
1,Environmental,South-Eastern Australia Heatwave 1939,"An extreme heatwave occurred in south-eastern Australia, January 1939. It was long lasting with very high temperatures. On 9 January the temperature at Kyancutta (South Australia) reached 49.3 &deg;C, the highest temperature recorded in South Australia at that time. Many temperature records were made during this heatwave, some of which have held until the recent 2009 heatwave; Adelaide, 46.1 &deg;C, on 12 January, Melbourne, 45.6&deg;C on 13 January, Sydney, 45.3&deg;C on 14 January with Ma...",1939-01-01,1939-01-16,-33.131515,135.557892,NaN,400.0,New South Wales
2,Environmental,South-Eastern Australia Heatwave 1939,"An extreme heatwave occurred in south-eastern Australia, January 1939. It was long lasting with very high temperatures. On 9 January the temperature at Kyancutta (South Australia) reached 49.3 &deg;C, the highest temperature recorded in South Australia at that time. Many temperature records were made during this heatwave, some of which have held until the recent 2009 heatwave; Adelaide, 46.1 &deg;C, on 12 January, Melbourne, 45.6&deg;C on 13 January, Sydney, 45.3&deg;C on 14 January with Ma...",1939-01-01,1939-01-16,-33.131515,135.557892,NaN,400.0,South Australia
3,Industrial,Leinster Mine Flood,"On 13 June 1989, exceptionally heavy rain caused strong flows in the creek system to the south and east of the EMU mine situated in Leinster. The 450 south pit adjacent to the operating mine began to rise as the blocked creek system backed up and began to spill over into it. At the same time, the main AG pit began to fill with water. The mining crew made preparation to vacate the decline. At about the time water began to overtop the narrow neck of ground between the two pits and to cascade ...",1989-06-13,1989-06-13,-27.795349,120.728760,NaN,6.0,Western Australia
4,Industrial,Appin Mine Explosion,"On 24 July 1979 an explosion occurred in the underground mine in Appin, a small town situated 35 km north-west of Wollongong. The explosion was caused by a rush of methane gas in the K panel which was a remote area of the mine situated 3 km below the surface. There were 45 individuals working in the mine at the time of the explosion. A total of 14 people lost their lives; 10 miners were killed in the crib room, while another four were killed in other areas of the mine.",1979-07-24,1979-07-24,-34.192211,150.786331,NaN,14.0,New South Wales

In [12]:
# Save to csv file
exploded_results.to_csv('Cleaned_file.csv', index=True)